* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: lab(62.2% -56.7 35.3 / 0.948);
  background-color: #450b5e62;
}

header {
  background-color: #0048aeec;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin-bottom: 1rem;
  color: #444;
}

img {
  border-radius: 20px;
  width: 300px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #eee;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
}

.project {
  margin-bottom: 2rem;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
